/* Ukuran konten utama */
#konten {
    margin-top: 5cm;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: white;
    width: 21cm;
    height: 24.7cm;
}

/* Flex header */
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.font-bold {
    font-weight: bold;
}
.text-xl {
    font-size: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-4xl {
    font-size: 2.25rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.p-2 {
    padding: 0.5rem;
}
.p-4 {
    padding: 1rem;
}
.border-2 {
    border-width: 2px;
}
.border-black {
    border-color: black;
}
.border {
    border: 1px solid black;
}
.w-full {
    width: 100%;
}
.w-4cm {
    width: 4cm;
}
.h-3cm {
    height: 3cm;
}
.h-1cm {
    height: 1cm;
}
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.list-decimal {
    list-style-type: decimal;
}
.ml-4 {
    margin-left: 1rem;
}
