@import 'tailwindcss';
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*.php';
@source '../../../../resources/views/**/*.blade.php';
@source '../../../../vendor/filament/**/*.blade.php';

@import '../../../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css';
@source '../../../../vendor/saade/filament-fullcalendar/resources/views/**/*.blade.php';

.fc-daygrid-day:has(.libur-nasional) {
    background-color: transparent !important;
}

.fc-daygrid-day:has(.libur-nasional) .fc-daygrid-day-number {
    color: #dc2626;
    font-weight: 700;
}
